/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

* {
  overscroll-behavior: contain;
  touch-action: manipulation;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  @include mat.list-overrides((
    list-item-one-line-container-height: 30px
  ));
}
